.container-main{
  margin-top: 25px;
  position: relative;
  left:8%;
  width: 90%!important;
  max-width: 100%!important;
}

.card-history{
  margin-bottom: 5px;
  max-width: 20%;
  min-width: 20%;
  display: inline-block;
}


@media only screen and (max-width: 768px) {

  .header-title{
    margin-left: 50px;
    font-size: larger;
  }

  .align-title{
    margin-bottom: 20px;
  }
}



@media only screen and (max-width: 950px) {

  .header-title{
    margin-left: 50px;
    font-size: larger;
  }
}