<div class="container-main">
  <h3 style="color:white" class="header-title">Résultats</h3>


  <mat-form-field>
    <mat-label>Participant</mat-label>
    <mat-select multiple>
      <mat-option  *ngFor="let user of users" value="{{user.id}}">{{user.fullName}}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>

  <mat-expansion-panel *ngFor="let result of results" class="card-history">
    <mat-expansion-panel-header>
      <mat-panel-title class="panel-title">
        {{result.result.kpi.name}}
      </mat-panel-title>
      <mat-panel-description>
        <img class="calendar" mat-card-image src="assets/icons/results/calendar.svg"  />
        <p class="para-descri">{{result.result.infos.date+' '+  result.result.infos.time}}</p>
        <img *ngIf="result.result.infos.isModeTime === true" class="left-margin" mat-card-image src="assets/icons/results/time.svg"  />
        <p class="para-descri" *ngIf="result.result.infos.isModeTime === true">{{result.result.kpi.timeTotal}}</p>
        <img *ngIf="result.result.infos.isModeTime === false" class="left-margin" mat-card-image src="assets/icons/results/loop.svg"  />
        <p class="para-descri" *ngIf="result.result.infos.isModeTime === false">{{result.result.kpi.loop}}</p>
        <img  class="left-margin" mat-card-image src="assets/icons/results/factor.svg"  />
        <p class="para-descri" >{{result.result.kpi.factor}}</p>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="container-infos">
      <div class="kpi-header">
        <p style="  margin-left: 10px;color: #77858D;">Durée totale</p>
        <div>
          <img  class="left-margin" mat-card-image src="assets/icons/results/clockchronos.svg"  />
          {{result.result.kpi.time}}</div>
      </div>
      <div class="kpi-header">
        <p style="  margin-left: 10px;color: #77858D;">Erreurs</p>
        <div>
          <img  class="left-margin" mat-card-image src="assets/icons/results/fails.svg"  />
          {{result.result.kpi.fail}}</div>
      </div>
      <p>Détails des résultats</p>
      <mat-expansion-panel  *ngFor="let resultEvent of result.result.eventToDisplay">
        <mat-expansion-panel-header>
          <mat-panel-title class="panel-title">
            <img *ngIf="result.result.infos.isModeTime === false" class="left-margin" mat-card-image src="assets/icons/results/fails.svg"  />
            <p *ngIf="result.result.infos.isModeTime === false" style="  margin-left: 10px;color: #77858D;">{{resultEvent.index}}</p>
          </mat-panel-title>
          <mat-panel-description>
           
          </mat-panel-description>
        </mat-expansion-panel-header>

      </mat-expansion-panel>
      <!-- <div *ngFor="let resultEvent of results.result.eventToDisplay"> -->
      <!-- 
        <mat-expansion-panel-header>
          <mat-panel-title class="panel-title">
            <img  *ngIf="result.result.infos.isModeTime === false" class="left-margin" mat-card-image src="assets/icons/results/fails.svg"  />
            <p *ngIf="result.result.infos.isModeTime === false" style="  margin-left: 10px;color: #77858D;">{{resultEvent.index}}</p>
          </mat-panel-title>
          <mat-panel-description>
           
          </mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel> -->
    <!-- </div> -->
     
    </div>

  </mat-expansion-panel>

  <!-- <mat-card *ngFor="let result of results" class="card-history">
    <mat-card-header>
      <mat-card-title-group>
       <mat-card-title>{{result.result.kpi.name}}</mat-card-title> 
        <mat-card-subtitle>{{result.result.infos.date+'   '+  result.result.infos.time}} </mat-card-subtitle> 
      </mat-card-title-group>
      
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle style="color:#88e8ff">Temps total :{{result.result.infos.totalTime}}</mat-card-subtitle> 
      <button (click)="seeDetailOfResult(result)" mat-raised-button color="primary">Voir le détail</button>
    </mat-card-content>
  </mat-card> -->
</div>



<router-outlet></router-outlet>
