.container-main{
  margin-top: 25px;
  position: relative;
  left:8%;
  width: 90%!important;
  max-width: 100%!important;
}

.card-history{
  margin-bottom: 5px;
  max-width: 20%;
  min-width: 20%;
  display: inline-block;
}