.login {
  // background: url("/../../../assets/images/login-bg.png") no-repeat;
  background-color: #08151C;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  .container {
    height: 100%;
  }
}

.spinner-display{
  position: absolute;
  z-index: 1;
  top: 38%;
  margin-left: 34%;
  margin-right: auto;
}

.card-login{

  background: radial-gradient(90.16% 143.26% at 15.32% 20.99%,rgba(235,236,240,.2) 0%,rgba(235,236,240,.0447917) 77.08%,rgba(235,236,240,0) 100%);
  max-width: 400px;
  height: 460px;
  margin-left: auto;
  margin-right: auto;
  top: 14%;
  font-family: "custom-font";
  border: 1px solid rgba(255,255,255,.15);

}

.image-logo{
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}


.form-login{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.mat-mdc-form-field{
  margin-top: 20px;
  width: 100%;
}

.login-btn{
  margin-top: 20px;
  width: 100%;
  font-family: "custom-font";
  color:white;
  background:#0048BA!important;
}

.spinner-valid{
  position: relative;
  top: 15%;
  margin-left: auto;
  margin-right: auto;
}

.mat-mdc-text-field-wrapper{
  background-color: #a1eafb;
}

::ng-deep .mat-mdc-text-field-wrapper  {
  background-color: rgb(171, 171, 171) !important;
  border-radius: 5px;
}

.panel-class{
  background-color:red;
}

:host {
  display: block;
  border: 1px solid #ffffff33;
  background: #101C23;
 }