<div class="login">
  <div class="container">
    <mat-spinner *ngIf="disabledSpinner" class="spinner-display"></mat-spinner>
    <mat-card style="text-align: center;" class="card-login">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <!-- <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
      </mat-card-header>
        <img class="image-logo" mat-card-image src="assets/images/Drilllight-logo.svg"  />
      <mat-card-content>
        <!-- <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p> -->
        <!-- <span style="color:red;" *ngIf="warning == true">
          Vous avez atteint votre maximum de licences.
        </span> -->
        <form class="form-login">
          <mat-form-field >
            <mat-label>Email</mat-label>
            <input class="full-width" type="email" matInput [formControl]="emailFormControl" placeholder="Ex. xxx@example.com">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Saisir un email valide.
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Quel est votre email ?
            </mat-error>
          </mat-form-field>
          <span style="color:red;" *ngIf="badpassuser !== false">
            Cet email n'est pas valide.
          </span>
          <mat-form-field >
            <mat-label>Mot de passe</mat-label>
            <input class="full-width" type="password" matInput [formControl]="passwordFormControl" placeholder="*****">
            <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address
            </mat-error> -->
            <mat-error *ngIf="passwordFormControl.hasError('required')">
             Mot de passe nécessaire.
            </mat-error>
          </mat-form-field>
          <span style="color:red;" *ngIf="badpassword !== false">
            Erreur dans le mot de passe.
          </span>
          <span style="color:red;" *ngIf="bademail !== false">
            Email incorrect.
          </span>
          <button (click)="doLogin()" class="login-btn" mat-flat-button >Connexion</button>
        </form>
        <span ><button (click)="resetPassWord()" style="margin-top:20px;color:white;" mat-button>Mot de passe oublié ?</button></span>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- <div (click)="disconectedMode()" ><span>Mode hors connexion</span></div> -->
</div>
<div>


</div>
