<h2 mat-dialog-title>Réinitialisation du mot de passe</h2>
<div>
<mat-dialog-content class="mat-dialog">
    <form class="form-login">
        <mat-form-field >
          <mat-label>Email</mat-label>
          <input class="full-width" type="email" matInput [formControl]="emailFormControl" placeholder="Ex. xxx@example.com">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Saisir un email valide.
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Quel est votre email ?
          </mat-error>
        </mat-form-field>
        <span style="color:red;" *ngIf="badpassuser !== false">
          Cet email n'est pas valide.
        </span>
    </form>
  <p>Un email de validation va vous être envoyé.</p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Annuler</button>
  <button mat-button [mat-dialog-close]="emailFormControl.value" cdkFocusInitial>Envoyer</button>
</mat-dialog-actions>

</div>