<!-- <div class="main">
  <div class="container">
    <mat-drawer-container class="container-side" autosize>
      <mat-drawer #drawer class="sidenav" mode="push">
        <img class="image-logo" mat-card-image src="assets/images/Drilllight-logo.svg"  />
        <div class="button-nav" *ngFor="let item of sideBarItems">
          <button class="btn-nav" mat-raised-button>
            <img src="{{item.icone}}">
            <span class="span-btn">{{item.name}}</span>
          </button>
        </div>
      <div class="btn-nav-bottom">
        <button class="btn-bottom" mat-raised-button>
          <img src="assets/icons/logout.svg">
          <span class="span-btn">Se déconnecter</span>
        </button>
      </div>
      </mat-drawer>

      <div class="sidenav-content">
        <button type="button" mat-mini-fab color="accent" (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

    </mat-drawer-container>
  </div>
</div>
 -->
