<div class="container-main">
<div class="container-btn-top">
<button (click)="changeNavConceptionNavigation(btn)" *ngFor="let btn of btnDrawer" type="button" mat-raised-button class="btn-next-back btn btn-sm btn-rounded"><img src="{{btn.src}}"></button>
<!-- <button type="button" [ngClass]="{'active': item.select ==  true}" mat-raised-button class="regular-type btn btn-sm btn-rounded">Animation</button> -->
</div>
<div class="container-actions">
  <button type="button" mat-raised-button class="regular-type btn btn-sm btn-rounded"><img src="../../../assets/icons/exercices/interface/save-icon.svg">Enregistrer l’exerice</button>
</div>

<div class="fields-container-background">
  
  <div class="container-bottom-btn" >
    <img src="../../../assets/icons/lines/line.png">
    <img src="../../../assets/icons/lines/line-cut.png">
    <img src="../../../assets/icons/lines/line-round.png">
    <!-- <button (click)="addEcones()" type="button" mat-raised-button matBadge="{{econes.length}}" [matBadgeHidden]="hidden" class="add-drawer btn btn-sm btn-rounded"><img src="../../../assets/icons/exercices/png/E-cone.png" alt=""></button> -->
    <span (click)="addEcones()" type="button" mat-raised-button matBadge="{{econes.length}}" [matBadgeHidden]="hidden" class="add-drawer btn btn-sm btn-rounded"><img class="polygon" src="../../../assets/icons/exercices/interface/Polygon-background.svg"><img class='img-inside-polygon' src="../../../assets/icons/exercices/png/E-cone.png" alt=""></span>
    <span (click)="addActor()" type="button" mat-raised-button matBadge="{{actors.length}}" [matBadgeHidden]="hidden" class="add-drawer-actor btn btn-sm btn-rounded"><img class="polygon" src="../../../assets/icons/exercices/interface/Polygon-background.svg"><img class='img-inside-polygon' src="../../../assets/icons/exercices/svg/Actor.svg" alt=""></span>
  
    <button type="button" mat-raised-button class="btn-add-accesories btn btn-sm btn-rounded"><img src="../../../assets/icons/exercices/interface/plus.svg">Ajouter un accessoire</button>
    <div class="container-selector-utilities">
      <div>
        <h4>Badges Default</h4>
        <p>Accessories</p>
      </div>
    </div>
  </div>
  <div>

  </div>
  <!-- <canvas id="connection-canvas" class="canvas" style=""></canvas> -->
  <!-- [ngStyle]="{'transform': transformData}"  -->
<div (swipeup)="swipeEventUp($event)" (swipedown)="swipeEventDown($event)" (swipeleft)="swipeEventLeft($event)" (swiperight)="swipeEventRight($event)" (pinchin)="pinchIn($event)" (pinchout)="pinchOut($event)" class="fields-container">
  <!-- <div (cdkDragStarted)='getStartMoove($event, econe)' (cdkDragEnded)='getEndMoove($event, econe)' (cdkDragMoved)="changePlaceItem($event, econe)" *ngFor="let econe of econes" matBadge="{{econe.number}}" [matBadgeHidden]="hidden" cdkDragBoundary=".fields-container-background" cdkDrag class="{{econe.name}} container-equip-live"><img src="../../../assets/icons/exercices/png/E-cone.png" alt=""></div> -->
  
  <span id="{{econe.name}}" (click)="displayUtils(econe)" (cdkDragStarted)='getStartMoove($event, econe)' (cdkDragEnded)='getEndMoove($event, econe)' (cdkDragMoved)="changePlaceItem($event, econe)" *ngFor="let econe of econes" matBadge="{{econe.number}}" [matBadgeHidden]="hidden" cdkDragBoundary=".fields-container-background" cdkDrag class="{{econe.name}} container-equip-live-on-map">
    <img [ngClass]="{'point-active': econe.topactif ==  true}" *ngIf="econe.active" (click)="selectTopDrawer(econe)" class="top{{econe.name}} point-top" src="../../../assets/icons/exercices/interface/Ellipse-blue.svg">
    <img [ngClass]="{'point-active': econe.bottomactif ==  true}" *ngIf="econe.active" (click)="selectBottomDrawer(econe)" class="bottom{{econe.name}} point-bottom" src="../../../assets/icons/exercices/interface/Ellipse-blue.svg">
    <img [ngClass]="{'point-active': econe.rightactif ==  true}" *ngIf="econe.active" (click)="selectRightDrawer(econe)" class="right{{econe.name}} point-right" src="../../../assets/icons/exercices/interface/Ellipse-blue.svg">
    <img [ngClass]="{'point-active': econe.leftactif ==  true}" *ngIf="econe.active" (click)="selectLeftDrawer(econe)" class="left{{econe.name}} point-left" src="../../../assets/icons/exercices/interface/Ellipse-blue.svg">
    <img class="polygon-on-map" src="../../../assets/icons/exercices/interface/Polygon-background.svg">
    <img class='img-inside-polygon-on-map' src="../../../assets/icons/exercices/png/E-cone.png" alt="">
  </span>
  <span  (click)="displayUtils(actor)"  (cdkDragStarted)='getStartMoove($event, actor)' (cdkDragEnded)='getEndMoove($event, actor)' (cdkDragMoved)="changePlaceItem($event, actor)" *ngFor="let actor of actors" matBadge="{{actor.number}}" [matBadgeHidden]="hidden" cdkDragBoundary=".fields-container-background" cdkDrag class="{{actor.name}} container-equip-live-on-map">
    <img [ngClass]="{'point-active': actor.topactif ==  true}" *ngIf="actor.active" (click)="selectTopDrawer(actor)" class="top{{actor.name}} point-top" src="../../../assets/icons/exercices/interface/Ellipse-blue.svg">
    <img [ngClass]="{'point-active': actor.bottomactif ==  true}" *ngIf="actor.active" (click)="selectBottomDrawer(actor)" class="bottom{{actor.name}} point-bottom" src="../../../assets/icons/exercices/interface/Ellipse-blue.svg">
    <img [ngClass]="{'point-active': actor.rightactif ==  true}" *ngIf="actor.active" (click)="selectRightDrawer(actor)" class="right{{actor.name}} point-right" src="../../../assets/icons/exercices/interface/Ellipse-blue.svg">
    <img [ngClass]="{'point-active': actor.leftactif ==  true}" *ngIf="actor.active" (click)="selectLeftDrawer(actor)" class="left{{actor.name}} point-left" src="../../../assets/icons/exercices/interface/Ellipse-blue.svg">
    <img class="polygon-on-map" src="../../../assets/icons/exercices/interface/Polygon-background.svg">
    <img class='img-inside-polygon-on-map' src="../../../assets/icons/exercices/svg/Actor.svg" alt="">
  </span>
  

  <!-- <div *ngFor="let actor of actors" matBadge="{{actor.number}}" [matBadgeHidden]="hidden" cdkDragBoundary=".fields-container-background" cdkDrag class="container-equip-live"><img src="../../../assets/icons/exercices/png/Actor.png" alt=""></div>
  <div *ngFor="let ball of balls" matBadge="{{ball.number}}" [matBadgeHidden]="hiddenNumb" cdkDragBoundary=".fields-container-background" cdkDrag class="container-equip-live"><img src="../../../assets/icons/exercices/png/ball.png" alt=""></div>
  <div *ngFor="let plot of plots" matBadge="{{plot.number}}" [matBadgeHidden]="hiddenNumb" cdkDragBoundary=".fields-container-background" cdkDrag class="container-equip-live"><img src="../../../assets/icons/exercices/png/Plot.png" alt=""></div>
  <div *ngFor="let flag of flags" matBadge="{{flag.number}}" [matBadgeHidden]="hiddenNumb" cdkDragBoundary=".fields-container-background" cdkDrag class="container-equip-live"><img src="../../../assets/icons/exercices/png/flag.png" alt=""></div>
  <div *ngFor="let rebounder of rebounders" matBadge="{{rebounder.number}}" [matBadgeHidden]="hiddenNumb" cdkDragBoundary=".fields-container-background" cdkDrag class="container-equip-live"><img src="../../../assets/icons/exercices/png/rebounder.png" alt=""></div> -->
  <!-- <div *ngFor="let jalon of jalons" matBadge="{{jalon.number}}" [matBadgeHidden]="hidden" cdkDragBoundary=".fields-container" cdkDrag class="container-equip-live"><img src="../../../assets/icons/exercices/png/Plot.png" alt=""></div> -->

</div>



</div>
<!-- <div class="container-btn">
<img src="../../../assets/icons/lines/line.png">
<img src="../../../assets/icons/lines/line-cut.png">
<img src="../../../assets/icons/lines/line-round.png">

<button (click)="addActor()" type="button" mat-raised-button matBadge="{{actors.length}}" [matBadgeHidden]="hidden" class="add-drawer btn btn-sm btn-rounded"><img src="../../../assets/icons/exercices/png/Actor.png" alt=""></button>
<button (click)="addEquip(itemEquip)" type="button" matBadge="{{itemEquip.array.length}}" [matBadgeHidden]="hidden" mat-raised-button class="add-drawer btn btn-sm btn-rounded" *ngFor="let itemEquip of btnAdderList">{{itemEquip.name}}</button>
<button (click)="addElement()" type="button" class="add-drawer"><span class="text-btn-add"></span>Ajouter un accessoire</button>
<div  *ngIf="equipHidden" class="container-equip">
  <button (click)="addElementEquipment(item)" *ngFor="let item of listOfEquipments" type="button" mat-raised-button class="btn-add-equip btn-sm btn-rounded"><img src="{{item.src}}" alt="">{{item.name}}</button>
</div>
</div>
</div> -->
