<div class="container-main">
<div class="container-btn">
<button type="button" mat-raised-button class="btn btn-sm btn-rounded">Conception</button>
<button type="button" mat-raised-button class="btn btn-sm btn-rounded">Animation</button>
<button type="button" mat-raised-button class="btn-rec btn-sm btn-rounded">Enregistrer l’exerice</button>
</div>
<div class="fields-container">
  <!-- <img src='../../../assets/icons/fields/football.png'> -->
  
</div>
<div class="container-btn">
<button type="button" mat-raised-button class="btn btn-sm btn-rounded"><img src="../../../assets/icons/exercices/png/E-cone.png" alt=""></button>
<button type="button" mat-raised-button class="btn btn-sm btn-rounded"><img src="../../../assets/icons/exercices/png/Actor.png" alt=""></button>
<button type="button" mat-raised-button class="btn btn-sm btn-rounded">Ajouter un accessoire</button>
</div>
</div>