<div class="main">
  <div class="container-app">
    <mat-drawer-container class="container-side">
      <mat-drawer #drawer class="sidenav" mode="side" opened="{{opened}}">
        <img class="image-logo" mat-card-image src="assets/images/Drilllight-logo.svg"  />
        <!-- <p *ngIf="AccountOfUser" class='status-ranking'>Statut : {{AccountOfUser.privileges.role}}</p> -->
        <div class="button-nav" *ngFor="let item of sideBarItems">
          <button (click)="navigateTo(item)" class="btn-nav" mat-raised-button>
            <img src="{{item.icone}}">
            <span class="span-btn">{{item.name}}</span>
          </button>
        </div>
        <!-- <mat-toolbar style="text-align: center; display: block;margin-top: 20%;
        padding-top: 8%;" color="primary">
          <div class="flex-stretch"></div>
          <mat-icon class="mr-8">brightness_5</mat-icon>
          <mat-slide-toggle [formControl]="toggleControl" class="mr-8">
          </mat-slide-toggle>
          <mat-icon>bedtime</mat-icon>
        </mat-toolbar> -->
      <div class="btn-nav-bottom">
        <button (click)="logOut()" class="btn-bottom" mat-raised-button>
          <img src="assets/icons/logout.svg">
          <span class="span-btn">Déconnection</span>
        </button>
      </div>
      </mat-drawer>
      <div *ngIf="seeNavigation" class="sidenav-content">
        <!-- *ngIf="seeNavBar !== true" -->
        <div style="display: inline-block;">
          <button  type="button" mat-mini-fab color="accent" (click)="drawer.toggle();updateData();setSeenavBar(drawer)">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <!-- <button *ngIf="seeNavBar !== false" type="button" mat-mini-fab color="accent" (click)="drawer.toggle();updateData();setSeenavBar(drawer)">
          <mat-icon>keyboard_backspace</mat-icon>
        </button> -->
        <div style="display: inline-block;" class="container-of-seeadmin">
          <button *ngIf="seeAsAdmin" style="margin-left: 10px;" type="button" mat-mini-fab color="accent" (click)="comeBackToAdmin()">
            <mat-icon>highlight_off</mat-icon>
          </button>
        </div>
      </div>
      <router-outlet></router-outlet>
    </mat-drawer-container>
  </div></div>
