<!-- <div class="container-main">
<div class="top">
  <div class="top-align"><p>Nouvel exercice: {{headerTitle}}</p></div>
  <span *ngIf="this.stepNumber == 1" >{{stepNumber}}</span>
  <div class="top-align"><img class="icon-close-right" src="../../assets/icons/exercices/png/x-close.png"></div>
</div>
</div> -->


<router-outlet></router-outlet>
<!-- <div>
  <div *ngIf="this.stepNumber > 1" class="outline-btn-previous"><button class="btn-next-step" (click)="previousStep()"><img class="icon-left" src="../../assets/icons/exercices/png/Arrow right.png"><span class="span-previous">Étape précédente</span></button></div>
  <div class="outline-btn-next"><button class="btn-next-step" (click)="nextStep()"><span class="span-next">Étape suivante</span><img class="icon-right" src="../../assets/icons/exercices/png/Arrow right.png"></button></div>
</div> -->