<div class="container-main">
<div class="top">
  <div class="top-align"><p>Nouvel exercice: {{headerTitle}}</p></div>
  <span>{{stepNumber}}</span>
  <div class="top-align"><img class="icon-close-right" src="../../assets/icons/exercices/png/x-close.png"></div>
</div>
</div>


<router-outlet></router-outlet>
<div>
  <div class="outline-btn-next"><button class="btn-next-step" (click)="nextStep()">Etape suivante<img class="icon-close-right" src="../../assets/icons/exercices/png/Arrow right.png"></button></div>

</div>