.container-main{
  margin-top: 25px;
  position: relative;
  left:5%;
  width: 90%!important;
  max-width: 100%!important;

}

.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-description {

  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.container-avatar{
  margin: 5px;
  width: 50px;
  height: 50px;
  display: inline-block;
  background-color: aliceblue;
  border-radius: 50% !important;
}

.container-avatar:hover{
  border:2px solid #DC4C64;
}

.rounded-circle-personal{
  border-radius: 50%;
}

.card-dashboard{
  overflow: auto;
  margin-top: 4px;
  border: 1px solid transparent;
  background: radial-gradient(90.16% 143.26% at 15.32% 20.99%, rgba(235, 236, 240, 0.2) 0%, rgba(235, 236, 240, 0.0447917) 77.08%, rgba(235, 236, 240, 0) 100%);
}

.checkbox-color{
  background-color: #878787!important;
}

.display-modal-action{
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 40%;
  z-index: 1;
  position: absolute;
  // height: 470px;
  background: #303030;
  top: 140px;
  right: 110px;
  border-radius: 7px;
  box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.3803921569);
}

.choosen-firmware{
  display: inline-block;
  width:15px;
  height:15px;
  border-radius:50%;
  margin-right: 10px;
  background:#3855ff;
}


.display-modal-firmware{
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 50%;
  position: absolute;
  height: 450px;
  background: #303030;
  top: 140px;
  right: 110px;
  border-radius: 7px;
  box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.3803921569);
}

.header-of-actions{

}

.action-btn-modal{
  display:block;
  margin-bottom: 10px;
}

.displayTrained{
  display: inline-block;
  border:1px solid wheat;
  border-radius:8px;
  height: 30px;
  padding: 5px;
  padding-top: 5px;
  margin-bottom: 13px;
  margin-left: 5px;
  max-width: fit-content;
}

.firmware-select{

}

.card-dashboard:hover{
  border: 1px solid white;
  cursor:pointer;
 }

.image-logo{
  width: 50px;
  top: -7px;
  margin-left: auto;
}

.align-title{
  margin-top: 6px;
}

::ng-deep mat-dialog-container {
  background-color:#110d24 !important;
  box-shadow: white -1px 1px 6px;
  border-radius:8px;
  margin-bottom: 20px;
}

::ng-deep mat-mdc-dialog-container{
  color: white;
}

.divdial{
  padding: 0;
  // width: 100px;
}

.display-modal-link{
  width: 80%;
  background-color: white;
  height: 300px;
  border-radius: 5px;
  position: absolute;
  z-index: 9999999999;
  box-shadow: 0px 1px 3px 1px #00000052; 
}

.container-magic-link{
  background-color: bisque;
  border-radius:5px;
}

.displaybtn{
  display: inline-block;
}

.close-button{
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  // position: relative;
  top: 5px;
  right: -45%;
}


.close-button:hover {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
} 


::ng-deep mat-datepicker-content {
  top: -120px!important;
  left: -40px;
  position: relative;
}

.table-admin{
  margin-top: 30px;
  text-align: center;
}

::ng-deep .cdk-global-overlay-wrapper{
  overflow: auto!important;
}

.mdc-dialog__content>:last-child {
  margin-bottom: 0;
  width: 100%;
}


.background-modal{
  // background-color:#110d24 !important;
  cursor:pointer;
  padding-top: 20px;
  padding-right: 15px;
  border-radius:6px;
}

.mg-btm-del{
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.bottom-btn{
  width:100%;
  text-align: end;
}

.btn-delete{
  background:#DC4C64;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.btn-export{
  background:#14A44D;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.size-tr{
  height: 80px;
}

.toggle-data  {
  color:white;
  margin-left: 0;
  margin-right: auto;
  padding-left: 4px;
  padding-right: 0;
  order: 0;
}

.btn-modifie{
  background:#a1eafb;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.btn-warn{
  background:rgb(231, 164, 41);
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.title-modal{
  margin-left: 20px;
  margin-top: 20px;
  color:white;
}


.container-img-avatar{
  max-width:40%;
}

.container-img-display{
  min-height: 55%;
  max-height: 222px;
  display: contents;
}

.mg-btm{
  margin-top: 3px;
  margin-bottom: 5px;
  min-width: 150px;
}

// PROFIL
.back-button{
  position: relative;
  right: -90%;
}

.comment-line{
  margin-left:10px;
}

.profil-container{
  margin-top: 15px;
  height: 800px;
  // background-color: white;
}

.container-graphique{
  background-color: white;
  border: 1px solid grey;
}

.button-graph{
  margin-top: 20px;
  margin-right: 15px;
  margin-left: 5px;
}

.span-graph{
  top: -5px;
  position: relative;
}

.charts-container{
  display: inline-block;
}

::ng-deep .ngx-charts {
  text{
      fill: #000000!important;
  }
}


@media only screen and (min-width: 350px) and (max-width:600px){
  /* For mobile phones: */
  ::ng-deep mat-mdc-dialog-actions.mat-mdc-dialog-actions-align-end, .mat-mdc-dialog-actions {
    justify-content: center;
  }

  .image-logo{
    display:none;
  }

  .header-title{
    margin-left: 50px;
  }

  .align-title{
    margin-bottom: 20px;
    text-align: center;
    font-size: small;
  }

  .card-header-align{
    margin-left: auto;
    margin-right: auto;
  }
}




@media only screen and (min-width: 600px) and  (max-width: 950px) {
  /* For mobile phones: */
  ::ng-deep mat-mdc-dialog-actions.mat-mdc-dialog-actions-align-end, .mat-mdc-dialog-actions {
    justify-content: center;
  }

  .header-title{
    margin-left: 50px;
  }

  .align-title{
    font-size: x-small;
    margin-top: 0px;
    margin-bottom: 15px;
    font-weight: 500;

  }

  .image-logo {
    width: 30px;
    margin-left: auto;
    height: 30px;
  }
}
