.container-global{

}

.video-container{
  text-align: center;
  top: -45px;
  width: 85%;
  margin-right: auto;
  position: relative;
  margin-left: auto;
}

.button-container{
  display: block;
  margin-left: 5px;
  margin-top: 10px;

}

.div-btncontainer{
  display: inline-block;
  vertical-align: top;
}