.container-main{
  margin-top: 25px;
  position: relative;
  left:8%;
  width: 90%!important;
  max-width: 100%!important;
}

.card-history{
  margin-bottom: 5px;
  max-width: 32%;
  min-width: 32%;
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.555);
  margin: 5px;
}

.result-block{
  margin:5px;
  margin-bottom: -8px;
  display:inline-block;
}

.delta-last-action{
  color:#88e8ff;
}

.time-in-step{
  font-weight: 500 ;
}