<div class="login">
    <div class="container">
      <!-- <mat-progress-spinner
      class="spinner-valid"
      [color]="color"
      [mode]="mode"
      [value]="value">
    </mat-progress-spinner> -->
      <mat-card style="text-align: center;" class="card-login">
  
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <!-- <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        </mat-card-header>
          <img class="image-logo" mat-card-image src="assets/images/Drilllight-logo.svg"  />
        <mat-card-content>
          <!-- <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p> -->
          <form class="form-login"  [formGroup]="form" (ngSubmit)="onFormSubmit()">
            <mat-form-field >
              <mat-label>Nouveau mot de passe</mat-label>
              <input class="full-width" (onchange)='onchangepassword($event)' formControlName="password"  type="password" matInput placeholder="Ex. xxx@example.com">
            </mat-form-field>
            <mat-form-field >
                <mat-label>Confirmer le mot de passe</mat-label>
                <input class="full-width" (onchange)='onchangepassword($event)' formControlName="samepassword" type="password" matInput placeholder="Ex. xxx@example.com">
              </mat-form-field>
            <button class="login-btn" (click)='confirmPassWord()' mat-flat-button >Modifier le mot de passe</button>
          </form>
          <p>{{form.get('password').errors?.pattern | json}}</p><hr>
          <p>{{form.get('samepassword').errors?.pattern | json}}</p><hr>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div>
  
    <!-- <form [formGroup]="form" (ngSubmit)="onFormSubmit()"> 
        <p>Minimum 8 Caractères</p><hr>
        <p>Minimum 1 Chiffre</p><hr>
        <p>Minimum 1 Minuscule et une Majuscule</p><hr>
        <p>Minimum 1 Caracttère spécial</p><hr>
        <div class="col-12 divdial" style="text-align: center;" mat-dialog-content>
          <h4 style='text-align:center;'>Changement de mot de passe</h4><br/>
          <mat-form-field class="display-input">
            <mat-label style="color:black">Nouveau mot de passe</mat-label>
            <input formControlName="password" type="password"
            name="password" required matInput placeholder="Ex: *****" >
          </mat-form-field>
          <mat-form-field class="display-input">
            <mat-label style="color:black">Confirmer mot de passe</mat-label>
            <input formControlName="samepassword" type="password"
            name="samepassword" required matInput placeholder="Ex: *****" >
          </mat-form-field>
   
          <button mat-button  mat-dialog-close class="btn-modifie mg-btm-del" >Modifier</button>
        </div>
        
    </form> -->
  </div>
  