<div class="login">
    <div class="container">
      <mat-card style="text-align: center;" class="card-login">
        <mat-card-header>
          <h2 style="margin-left:auto;margin-right:auto;color:white;" color="white">Inscription</h2>
        </mat-card-header>
          <img class="image-logo" mat-card-image src="assets/images/Drilllight-logo.svg"  />
        <mat-card-content>
          <form *ngIf="!seeChangePage" class="form-login"  [formGroup]="form" (ngSubmit)="onFormSubmit()">
            <mat-form-field >
              <mat-label>Nom</mat-label>
              <input class="full-width" type="text" matInput placeholder="Ex. xxx@example.com">
            </mat-form-field>
            <mat-form-field >
              <mat-label>Prénom</mat-label>
              <input class="full-width" type="text" matInput placeholder="Ex. xxx@example.com">
            </mat-form-field>
            <!-- <mat-form-field >
              <mat-label>Adresse</mat-label>
              <input class="full-width" type="text" matInput placeholder="Ex. xxx@example.com">
            </mat-form-field> -->
            <mat-form-field >
              <mat-label>Téléphone</mat-label>
              <input class="full-width" type="phone" matInput placeholder="Numéro de téléphone">
            </mat-form-field>
            <mat-form-field >
              <mat-label>Nouveau mot de passe</mat-label>
              <input class="full-width" (keyup)='onchangepassword($event)' formControlName="password"  type="password" matInput placeholder="Ex. xxx@example.com">
            </mat-form-field>
            <mat-form-field >
                <mat-label>Confirmer le mot de passe</mat-label>
                <input class="full-width" (keyup)='onchangepassword($event)' formControlName="samepassword" type="password" matInput placeholder="Ex. xxx@example.com">
              </mat-form-field>
            <button *ngIf="!seeChangePage" class="login-btn" (click)='confirmPassWord()' mat-flat-button >Enregistrer les informations</button>
          </form>

          <button *ngIf="seeChangePage" class="login-btn" (click)='goToDashboard()' mat-flat-button >Page de connexion</button>
          
          <p style="margin-top:10px;color:red;">{{error}}</p>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div>
  </div>
  