.container-main{
  margin-top: 2px;
  position: relative;
  left:8%;
  width: 90%!important;
  max-width: 100%!important;
}

.header-title{
  width: 80%;
  margin-left: 15px;
}

.card-dashboard{
  
  text-align: center;
  border: 1px solid transparent;
  background:#14232c;
}

.card-dashboard:hover{
  border: 1px solid white;
 }

.card-hight{
  margin-top: 30px;
  height: 310px !important;
}

::ng-deep .ngx-charts { 
  text{
      fill: #fff!important; 
  }
}

.icon-dashboard{
  font-size: 25px;
  margin-left: 45px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .card-hight{
    height: 300px!important;
  }
  .header-title{
    margin-left: 50px;
  }

  .icon-dashboard{
    display:none;
  }

  .card-header-align{
    margin-left: auto;
    margin-right: auto;
  }
}


@media only screen and (min-width:600px) and (max-width: 950px) {
  /* For mobile phones: */
  .card-hight{
    height: 300px!important;
  }
  .header-title{
    margin-left: 50px;
  }

}
