.container-main{
  margin-top: 25px;
  position: relative;
  left:5%;
  width: 90%!important;
  max-width: 100%!important;
}


.table-perso{
  text-align:center;
  margin-bottom: 20px!important;
}


.header-title{
  margin-left: 15px;
}

.card-dashboard{
  height: 70px;
  overflow: auto;
  margin-top: 4px;
  border: 1px solid transparent;
  background: radial-gradient(90.16% 143.26% at 15.32% 20.99%, rgba(235, 236, 240, 0.2) 0%, rgba(235, 236, 240, 0.0447917) 77.08%, rgba(235, 236, 240, 0) 100%);
}

.admin-row{
  border-left: #0d6efd 6px solid;
}

.modal-zip{
  box-shadow: 0px 1px 5px 0px #ffffffa6;
  border-radius: 8px;
  position: absolute;
  width: 80%;
  height: 400px;
  background: #303030;
  z-index: 9999999999;
  padding-top: 10px;
  padding-left: 10px;
}

.spinner-display{
  position: relative;
  z-index: 1;
  margin-top: -100px;
  top: 420px;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.image-logo{
  width: 50px;
  top: -7px;
  margin-left: auto;
}

.align-title{
  margin-top: 6px;
}

.btn-see-profil{
  border-radius: 8px;
  background: #a1eafb;
  width: 100%;
  height: 40px;
}

.background-modal{
  // background-color:#110d24 !important;
  cursor:pointer;
  // height: 350px!important;
  // padding-top: 20px;
  padding-right: 15px;
  border-radius:6px;
  margin-top: 5px;
}

::ng-deep mat-dialog-container {
  // background-color:#110d24 !important;
  box-shadow: white -1px 1px 6px;
  border-radius:8px;
  margin-bottom: 20px;
}

::ng-deep mat-mdc-dialog-container{
  color: white;
}

.title-modal{
  margin-left: 20px;
  margin-top: 20px;
  color:white;
}

.bottom-btn{
  width:100%;
  text-align: end;
}

.btn-modifie{
  background:#3f51b5;
  color: rgb(0, 0, 0);
  font-weight: 500;
  margin-right: 20px;
}

.btn-warn{
  background:rgb(231, 164, 41);
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.btn-delete{
  background:#DC4C64;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

::ng-deep .mat-mdc-dialog-container {
  --mdc-dialog-container-color: #262726;
}

.btn-export{
  // background:#14A44D;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.mg-btm-del{
  margin-left: 20px;
  margin-top: 3px;
  margin-bottom: 5px;
  min-width: 150px;
}

.divdial{
  width: 100%;
  padding: 5px;
}

.table > :not(caption) > * > *{
  padding:0.3em !important;
}

.rotate{
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
}


.choosen-firmware{
  display: inline-block;
  width:15px;
  height:15px;
  border-radius:50%;
  margin-right: 10px;
  background:#3855ff;
}


.rotate:hover {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(-360deg);
  -moz-transform: rotate(-360deg);
  -o-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  transform: rotate(-360deg);
}

.modalQr{
  position: absolute;
  z-index: 99999999999999;
  width: 70%;
  height: 300px;
  margin-left: 15%;
  background-color: white;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 1px 3px 1px #00000052;
}

.qrcode{
  border-radius: 5px;

}

.centered-qr{
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.close-button{
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  position: relative;
  top: 5px;
  right: -45%;
}


.close-button:hover {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.form-fielder{
  width: -webkit-fill-available;
}

:root::-webkit-scrollbar{
  display: none;
}

.display-text{
  cursor: pointer;
  text-align: center;
}

@media only screen and (max-width: 768px) {

  .display-text{
    cursor: pointer;
    text-align: center;
  }

  .image-logo{
    display:none;
  }

  .header-title{
    margin-left: 50px;
    font-size: larger;
  }

  .align-title{
    margin-bottom: 20px;
  }
}




@media only screen and (max-width: 950px) {

  .header-title{
    margin-left: 50px;
    font-size: larger;
  }
}