<div class="container-main" >
  <h3 style="color:black">E-cones</h3>
  <div  style="color:white;margin-bottom: 20px;" class="col-md-2">
        <button (click)="search()" type="button" style="margin: 10px;" mat-mini-fab color="accent">
          <mat-icon>search</mat-icon>
        </button>
        <button (click)="parameters()" type="button" style="margin: 10px;" mat-mini-fab color="accent">
          <mat-icon>settings</mat-icon>
        </button>
        <button *ngIf="account.asAdmin == true"  (click)="addEconesAsAdmin()" type="button" style="margin: 10px;" mat-mini-fab color="accent">
          <mat-icon>add</mat-icon>
        </button>
  </div>

<div  *ngFor="let Econe of Econes" >
  <div *ngIf="Econe.SeeQrCode"  class="modalQr" >
    <button  type="button" class="close-button btn btn-link btn-sm btn-rounded">
      <mat-icon (click)="displayQrOfEcone(Econe)" class="" >close</mat-icon>
    </button>
    <div class="centered-qr" >
      <qrcode class="qrcode" #parent [elementType]="elementType"
      [errorCorrectionLevel]="errorCorrectionLevel"
      [qrdata]="Econe.qrdata" [scale]="scale" [width]="width"
      [allowEmptyString]="true" [className]="cssClass"
      [colorDark]="colorDark" [colorLight]="colorLight"
      [margin]="margin" [alt]="alt" [ariaLabel]="ariaLabel"
      [title]="title" [imageSrc]="'./assets/images/logoD.jpg'"
      [imageHeight]="imageHeight" [imageWidth]="imageWidth"
      (qrCodeURL)="onChangeURL($event)"
      ></qrcode>
      <button mat-raised-button color="primary" (click)="saveAsImage(parent, Econe)">
        Télécharger l'image du QR code
      </button>
    </div>
  </div>
</div>
<mat-form-field style="width:100%;">
  <mat-label>Recherche par nom, id, date, ...</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>
  <table  mat-table [dataSource]="dataSourceEcones">
    <ng-container matColumnDef=" ">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let emp"> 
        <div class="d-flex align-items-center">
          <button type="button" mat-mini-fab color="accent"><img src="assets/icons/menu_econe.svg"></button> 
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let emp"> {{emp.uuid}} </td>
    </ng-container>
    <ng-container matColumnDef="serial">
      <th mat-header-cell *matHeaderCellDef> Numéro de série </th>
      <td mat-cell *matCellDef="let emp"> {{emp.serial}} </td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date de création </th>
      <td mat-cell *matCellDef="let emp"> {{emp.date}} </td>
    </ng-container>
    <ng-container matColumnDef="client">
      <th mat-header-cell *matHeaderCellDef> Client </th>
      <td mat-cell *matCellDef="let emp"> <button *ngIf="emp.name !== undefined" class="btn-see-profil">{{emp.name + ' ' + emp.firstname}}</button> </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> actions </th>
      <td mat-cell *matCellDef="let emp">
        <button type="button" class="btn btn-link btn-sm btn-rounded"><mat-icon>edit</mat-icon></button>
        <button type="button" class="btn btn-link btn-sm btn-rounded"><mat-icon>lightbulb</mat-icon></button>
        <button (click)="displayQrOfEcone(emp)" type="button" class="btn btn-link btn-sm btn-rounded"><mat-icon>qr_code</mat-icon></button>
        <button type="button" class="rotate btn btn-link btn-sm btn-rounded"><mat-icon>sync</mat-icon></button> 
      </td>
    </ng-container>
    <!-- <td>
      <mat-checkbox class="checkbox-color" [disabled]="true" ></mat-checkbox>
    </td> -->
    <tr mat-header-row *matHeaderRowDef="displayedColumnsEcones"></tr>
    <tr mat-row *matRowDef="let emprow; columns: displayedColumnsEcones;"></tr>
  </table>
  <mat-paginator style="margin-bottom: 20px;" #paginatorEcones [length]="resultsLength" [pageSize]="5" aria-label="Choisir la page"></mat-paginator> 
</div>