<div class="container-main" >
  <h3 style="color:white" class="header-title">E-Cones</h3>
  <div  style="color:white;margin-bottom: 20px;">
        <button (click)="search()" type="button" style="margin: 10px;" mat-mini-fab color="accent">
          <mat-icon>search</mat-icon>
        </button>
        <button (click)="parameters()" type="button" style="margin: 10px;" mat-mini-fab color="accent">
          <mat-icon>settings</mat-icon>
        </button>
        <button *ngIf="account.role == 'admin'"  (click)="addEconesAsAdmin()" type="button" style="margin: 10px;" mat-mini-fab color="accent">
          <mat-icon>add</mat-icon>
        </button>
        <div *ngIf="account.role === 'admin'"  style="color:white; margin-bottom: 10px;    display: inline-block;" class="display-text col-sm-3  col-md-4">
          <mat-card  (click)="uploadZip()" class="card-dashboard">
            <mat-card-header>
              <mat-card-title style="margin-right: 15px;" class="align-title">Téléverser une mise à jour</mat-card-title>
            </mat-card-header>
          </mat-card>
        </div>
        <div *ngIf="account.role === 'admin'" style="color:white; margin-bottom: 10px;display: inline-block;margin-left:10px;" class="display-text col-sm-3  col-md-4">
          <mat-card  (click)="chooseFirmwareGlobal()" class="card-dashboard">
            <mat-card-header style="padding-bottom: 19px;">
              <mat-card-title style="margin-right: 15px;" class="align-title">Sélectionner le firmware global</mat-card-title>
            </mat-card-header>
          </mat-card>
        </div>
  </div>

  <div *ngIf="displayModal" class="modal-zip" >
    <h1>Chargement d'une mise à jour</h1>
    <input *ngIf="!displayListOfUSer" type="file" class="file-upload" (change)="onchangeInputZip($event)" accept=".zip">
    <!-- <button *ngIf="displayBtnUpload" (click)="chargeZipFirmware()" type="button"  mat-raised-button  style="margin: 10px;" color="primary"> Charger le firmware
      <mat-icon>add</mat-icon>
    </button> -->
    <!-- <mat-checkbox *ngIf="!displayListOfUSer" [(ngModel)]="private" class="example-margin">Privé</mat-checkbox> -->
    <button (click)="getZipFirmware()" type="button"  mat-raised-button  style="margin: 10px;" color="primary"> Récupérer le dernier Firmware
      <mat-icon>add</mat-icon>
    </button>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Version</mat-label>
      <input (keyup)="versionOfFirmware($event)" matInput placeholder="0.0.1" value="">
    </mat-form-field>
    <br>
    <mat-form-field style="width: 98%;" class="example-full-width">
      <mat-label>Description</mat-label>
      <textarea (keyup)="commentOfFirmware($event)" matInput placeholder="..."></textarea>
    </mat-form-field>
    <!-- <mat-form-field *ngIf="displayListOfUSer" style="width: 95%;">
      <mat-label>Choisir le compte</mat-label>
      <mat-select  [(ngModel)]="selectedUser" >
        <mat-option  *ngFor="let account of allAccountsAdminOwner" [value]="account.id">{{'Nom: '+account.fullName+ ', id: '+account.id }}</mat-option>
      </mat-select>
    </mat-form-field> -->
    <div *ngIf="!displayListOfUSer" class="bottom-btn">
      <button mat-button  (click)='closeModal()' class="btn-warn mg-btm-del" >Annuler</button>
      <button mat-button (click)='uploadZipAndUser()' class="btn-modifie mg-btm-del" color="primary">Charger la mise à jour</button>
    </div>
    <!-- <div *ngIf="displayListOfUSer" class="bottom-btn">
      <button mat-button  (click)='uploadZipAndUserFalse()'  class="btn-warn mg-btm-del" >Annuler</button>
      <button mat-button  (click)="chargeZipFirmwareWithUser()" class="btn-modifie mg-btm-del" color="primary">Charger la mise à jour</button>
    </div> -->
  </div>
  <!-- [disabled]="true" -->
  <!--  -->
  <!-- <mat-radio-group aria-label="Select an option"> -->
    <!-- <input type="radio" (click)="selectStatus($event.target)" [checked]="global" value="global">Global
    <input type="radio" (click)="selectStatus($event.target)" [checked]="private" value="private">Privé -->
  <!-- </mat-radio-group> -->
    <!-- <input type="text" (keyup)="gerVersion($event)">
  <button *ngIf="srCzip !== ''"><a href="{{srCzip}}" download="firmware">Lien du firmware</a></button>
  <div style="color:white" class="col-sm-4  col-md-4">
    <mat-card (click)="getlastFirmware()" class="card-dashboard">
      <mat-card-header>
        <img class="image-logo" mat-card-image src="assets/icons/add.png"/>

        <mat-card-title  class="align-title">recuperer le dernier Firmware</mat-card-title>
      </mat-card-header>
    </mat-card> -->
  <!-- </div> -->
  <div *ngIf="displayModalUpdateFirmware" class="modal-zip" >
    <h2>Modifier la version globale du firmware</h2>

    <h5>Firmware global actuel : {{detailsLastGlobalFirmware.version}} </h5>
    <p>Description : {{detailsLastGlobalFirmware.description}}</p>
    <p>Date de mise à jour : {{detailsLastGlobalFirmware.date}}</p>
    <mat-form-field style="width:98%" class="firmware-select">
      <mat-label>Chosir une version...</mat-label>
      <mat-select  value="">
        <mat-option style="border-bottom: 5px white dotted;" (onSelectionChange)="selectedFirmware(firmware)" *ngFor="let firmware of firmWareList" [value]="firmware.version" ><div class="choosen-firmware" *ngIf="firmware.choosen !== undefined && firmware.choosen === true"></div><p style="margin-top:4px;display:inline-block;width:80%;">Version : <b>{{firmware.version}}</b></p><p>Description : {{firmware.description}}</p><p>Date de mise à jour : {{firmware.date}}</p></mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="!displayListOfUSer" class="bottom-btn">
      <button mat-button  (click)='closeModalUpdateFirmware()' class="btn-warn mg-btm-del" >Annuler</button>
      <button mat-button (click)='updateGlobalFirmware()' class="btn-modifie mg-btm-del" color="primary">Mise à jour du firmware global</button>
    </div>

  </div>


<div  *ngFor="let Econe of Econes" >
  <div *ngIf="Econe.SeeQrCode"  class="modalQr" >
    <button  type="button" class="close-button btn btn-link btn-sm btn-rounded">
      <mat-icon (click)="displayQrOfEcone(Econe)" class="" >close</mat-icon>
    </button>
    <div class="centered-qr" >
      <qrcode class="qrcode" #parent [elementType]="elementType"
      [errorCorrectionLevel]="errorCorrectionLevel"
      [qrdata]="Econe.qr" [scale]="scale" [width]="width"
      [allowEmptyString]="true" [className]="cssClass"
      [colorDark]="colorDark" [colorLight]="colorLight"
      [margin]="margin" [alt]="alt" [ariaLabel]="ariaLabel"
      [title]="title" [imageSrc]="'./assets/images/logoD.jpg'"
      [imageHeight]="imageHeight" [imageWidth]="imageWidth"
      (qrCodeURL)="onChangeURL($event)"
      ></qrcode>
      <button mat-raised-button color="primary" (click)="saveAsImage(parent, Econe)">
        Télécharger l'image du QR code
      </button>
    </div>
  </div>
</div>
<mat-form-field style="width:100%;">
  <mat-label>Recherche par nom, id, date, ...</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>
  <table  mat-table [dataSource]="dataSourceEcones">
    <ng-container matColumnDef=" ">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let emp"> 
        <div class="d-flex align-items-center">
          <button type="button" mat-mini-fab color="accent"><img src="assets/icons/menu_econe.svg"></button> 
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let emp"> {{emp.uniqueId}} </td>
    </ng-container>
    <ng-container matColumnDef="serial">
      <th mat-header-cell *matHeaderCellDef> Numéro de série </th>
      <td mat-cell *matCellDef="let emp"> {{emp.id}} </td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date de création </th>
      <td mat-cell *matCellDef="let emp"> {{emp.creationDate}} </td>
    </ng-container>
    <ng-container matColumnDef="client">
      <th mat-header-cell *matHeaderCellDef> Client </th>
      <td mat-cell *matCellDef="let emp"> <button *ngIf="emp.name !== ''" class="btn-see-profil">{{emp.name}}</button> </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> actions </th>
      <td mat-cell *matCellDef="let emp">
        <button type="button" class="btn btn-link btn-sm btn-rounded"><mat-icon>edit</mat-icon></button>
        <button type="button" class="btn btn-link btn-sm btn-rounded"><mat-icon>lightbulb</mat-icon></button>
        <button (click)="displayQrOfEcone(emp)" type="button" class="btn btn-link btn-sm btn-rounded"><mat-icon>qr_code</mat-icon></button>
        <button type="button" class="rotate btn btn-link btn-sm btn-rounded"><mat-icon>sync</mat-icon></button> 
      </td>
    </ng-container>
    <!-- <td>
      <mat-checkbox class="checkbox-color" [disabled]="true" ></mat-checkbox>
    </td> -->
    <tr mat-header-row *matHeaderRowDef="displayedColumnsEcones"></tr>
    <tr mat-row *matRowDef="let emprow; columns: displayedColumnsEcones;"></tr>
  </table>
  <mat-paginator style="margin-bottom: 20px;" #paginatorEcones [length]="resultsLength" [pageSize]="5" aria-label="Choisir la page"></mat-paginator> 
</div>