.container-main{
  margin-top: 25px;
  position: relative;
  left:5%;
  width: 90%!important;
  max-width: 100%!important;
}

.card-dashboard{
  margin-top: 0px;
  border: 1px solid transparent;
  height: 40px!important;
  background: radial-gradient(90.16% 143.26% at 15.32% 20.99%, rgba(235, 236, 240, 0.2) 0%, rgba(235, 236, 240, 0.0447917) 77.08%, rgba(235, 236, 240, 0) 100%);
}

.card-dashboard:hover{
  border: 1px solid white;
  cursor: pointer;
 }


 .header-title{
  margin-left: 15px;
}

 .spinner-display{
  position: relative;
  z-index: 1;
  margin-top: -100px;
  top: 420px;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}


 .scroll{
  overflow: auto;
  white-space: pre-line;
  flex-wrap: nowrap;
  margin-bottom: 10px;
 }

.search{
  width: 100%;
  height: 60px;
}

.mat-mdc-form-field-infix{
  padding-top: 8px!important;
}

.display-toggle{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:5px;
  font-size: large;
}

.mat-mdc-card-header{
  padding-top: 5px !important;
  height: 60px;
  font-size: large;
  font-weight: 500;
  text-align: center;
  display: block;
}

.hr-line{
  margin-top: 5px;
  height: 5px;
  opacity: 0.80;
  background: white!important;
}

.selectors{
  height: 70px;
  margin-left: 5px;
}

.card-list{
  margin: 7px;
  background: #101C23;
}

.img-card-list{
  height:80%;
}

.display-title-list{
  position: absolute;
  margin-left: 160px;
  margin-top: 10px;
}

.display-desc-list{
  position: absolute;
  margin-left: 160px;
  margin-top: 30px;
}

.card-exo{
  border:1px solid rgba(255, 255, 255, 0.242);
  margin-bottom: 10px;
  padding: 1px;
  color:white;
  background: radial-gradient(90.16% 143.26% at 15.32% 20.99%, rgba(235, 236, 240, 0.2) 0%, rgba(235, 236, 240, 0.0447917) 77.08%, rgba(235, 236, 240, 0) 100%);
}

.card-exo:hover{
  border:1px solid white;
}

.title-card{
 
  font-size: 1em;
}

::ng-deep .mat-mdc-dialog-container {
  
  --mdc-dialog-container-color: #515151;
}

.header-image{
  top: 8px;
  position: relative;
  margin-left: 10px;
  background-image: url('../../assets/images/logoD.jpg');
  background-size: cover;
  width: 30px;
  height: 30px;
}

.paragraph-card{
  font-weight: 500;
  margin-top: auto;
  top: 3px;
  position: relative;
  margin-left: 3px;
}

.btn-add{
  display: inline-block;
  width: 275px;
}

.btn-card{
  color: white;
  font-size: 0.8em;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #ff4081;
}

.btn-card-list{
  position: absolute;
  border-radius: 8px;
  color: white;
  height: 30px !important;
  background-color: #ff4081;
  right: 5px;
  top: 35px;
  padding-left: 15px;
}



.im-card-btn{
  width: 40px;
}

.mdc-card__actions{
  padding:0px;
}

.title{
  color:white;
  margin-top: 7px;
}

.audience{
  width: 50px;
  height: 20px;
  color: black;
  font-weight: 500;
  position: absolute;
  top: 69px;
  left: 10px;
  z-index: 999999999;
  text-align: center;
  font-size: 0.7em;
  border-radius:8px;

}

.public{
  background:#a1eafb;
}

.private{
  background:#ffcef3;
}

.paragraphe{
  height: auto;
  margin-right: 4px;
  width: fit-content;
}

.mostly-customized-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa; /* or add it to the track */
}
/* Add a thumb */
.mostly-customized-scrollbar::-webkit-scrollbar-thumb {
    background: #000;
}

.invisible-scrollbar, .mostly-customized-scrollbar {
  display: block;
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 11px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff4081; 
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff4081; 
}

.img-card{
  width:100%;
}

::ng-deep mat-dialog-container {
  box-shadow: 0px 0px 5px #ffffffa3;
  border-radius:8px;
}

::ng-deep mat-mdc-dialog-container{
  color: white;
}

.mdc-list-item__primary-text{

}




.background-modal{
  cursor:pointer;
  text-align: center;
}

.btn-add-ex{
  border-radius: 8px;
  background: #3f51b5;
  color: white;
  width: 100%;
  border: 1px solid #3f51b5;
  height: 40px;
}

.btn-card{
  border-radius: 8px;
  color: white;
  width: 100%;
  height: 40px;
  // font-size: 0.8em;
  margin-left: 10px;
  background-color: #ff4081;
}


.img-dialog{
  min-width: 98%;
  border-radius: 8px;
  max-height: 300px;
}

.btn-delete{
  background:#DC4C64;
  color: white;
  font-weight: 500;
}

.btn-export{
  background:#14A44D;
  color: white;
  font-weight: 500;
}

.btn-modifie{
  background:#a1eafb;
  color: white;
  font-weight: 500;
}

.desc-dialog{
  margin-top: 10px;
  color: white;
}

.container-title{
  border: 1px solid white;
  border-radius: 8px;
  width: fit-content;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 15px;

}


.btn-delete{
  background:#DC4C64;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.btn-export{
  background:#14A44D;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.btn-modifie{
  background:#a1eafb;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.btn-add-right{
  margin-left: 10px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .card-exo{
    margin-left: auto;
    margin-right: auto;
  }

  .card-dashboard{
   margin-top: 5px;
  }

  .selectors{
    width: 98%;
  }
  .btn-add{
    display: inline-block;
    width: 100%;
  }

  .header-title{
    margin-left: 50px;
    font-size: larger;
  }
  .title{
    font-size: large;
  }

  .btn-card{
    margin-left: 10px;
  }
  .paragraph-card{
    margin-left: 0;
  }
  .btn-add-right{
    margin-left: 0px;
  }
  
}


@media only screen and (max-width: 950px) {
  // /* For mobile phones: */
  // .card-exo{
  //   margin-left: auto;
  //   margin-right: auto;
  // }

  .card-dashboard{
  //  margin-top: 5px;
    width: 100%;
  }

  // .selectors{
  //   width: 98%;
  // }
  .btn-add-ex{
    font-weight: 400;
  }

  .btn-add{
    display: inline-block;
    // width: 170px;
    font-size: small;
    // margin-left: 20px;
  }

  .header-title{
    margin-left: 50px;
    font-size: larger;
  }

  .hr-line{
    margin-top: 3px;
    height: 2px;
  }
  // .title{
  //   font-size: large;
  // }

  // .btn-card{
  //   margin-left: 10px;
  // }
  // .paragraph-card{
  //   margin-left: 0;
  // }
}



