<div class="container-main">
  <!--   -->
  <mat-spinner *ngIf="disabledSpinner" class="spinner-display"></mat-spinner>
  <h3 style="color:white" class="header-title">Bibliothèque</h3>
  <mat-form-field style="width:100%">
    <mat-label>Chercher par noms, catégories, dates, ... </mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>

  <div class="row">
    <!-- <div (click)="select(item)" *ngFor="let item of itemsNav" style="color:white" class="col-md-4">
      <mat-card  class="card-dashboard">
        <mat-card-header>
          <mat-card-title>{{item.value}}</mat-card-title>
        </mat-card-header>
        </mat-card>
        <hr *ngIf="item.selected !== false" class="hr-line" >
    </div> -->
    <div style="text-align:center;margin-bottom:5px;">
      <!-- <div *ngIf="chooseType === 'Exercices'"  class="btn-add col-md-3" (click)="createExercice()" ><button class="btn-add-ex">Créer un exercice</button></div> -->
      <div  *ngIf="chooseType === 'Exercices' && AccountOfUser.role === 'admin'"  class="btn-add-right btn-add col-md-3" (click)="uploadExercice()" ><button class="btn-add-ex">Charger un exercice</button></div>
      <!-- <div *ngIf="chooseType === 'Sessions'" class="btn-add col-md-3" (click)="createSession()" ><button class="btn-add-ex">Créer une session</button></div> -->
      <div  *ngIf="chooseType === 'Sessions'"  class="btn-add-right btn-add col-md-3" (click)="uploadSession()" ><button class="btn-add-ex">Charger une session</button></div>
    </div>
    <!-- <div class="btn-add" (click)="subscribes()" ><button class="btn-card">S'abonner au bouquet d'exercices</button></div> -->
  </div>
  <!-- LIST OF EXERCIES OF DRILLLIGHT -->
  <button *ngIf="displayTypeOf === 'module'" style="margin: 2px;" (click)="changeDisplay('list')" mat-raised-button color="primary"><mat-icon style="margin-left: 10px;">view_list</mat-icon></button>
  <button *ngIf="displayTypeOf === 'list'" style="margin: 2px;" (click)="changeDisplay('module')" mat-raised-button color="primary"><mat-icon style="margin-left: 10px;">view_module</mat-icon></button>
  <button *ngIf="AccountOfUser.trainings.length > 0 && asAdmin == false"  style="margin: 2px;" (click)="resetSelectedExercices(AccountOfUser)" mat-raised-button color="primary"><mat-icon style="margin-left: 10px;">clear</mat-icon>Supprimer la sélection d'exercices</button>
  <button *ngIf="userSource!== undefined && userSource.trainings.length > 0 && asAdmin == true"  style="margin: 2px;" (click)="resetSelectedExercices(AccountOfUser)" mat-raised-button color="primary"><mat-icon style="margin-left: 10px;">clear</mat-icon>Supprimer la sélection d'exercices</button>
  
  <div *ngIf="chooseType === 'Exercices'">
  <!-- <h4 class="title">Bouquet d'exercices Drilllight</h4>
  <div class="row">
    <mat-card class="card-exo col-md-2">
      <mat-card-header>
        <mat-card-title class="title-card">Exemple d'exercice</mat-card-title>
      </mat-card-header>
      <span [ngClass]="audience === 'public' ? 'public' : 'private'" class="audience">Public</span>
      <img class="img-card" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p> The Shiba Inu is </p>
      </mat-card-content>
      <mat-card-actions>
        <div mat-card-avatar class="header-image"></div>
        <button class="btn-card" mat-button><img src="../../assets/icons/dots-vertical.png"></button>
      </mat-card-actions>
    </mat-card>
  </div> -->

  <h4 *ngIf="publicTrainings.cards.length > 0" class="title">Exercices Publics</h4>
  <div *ngIf="displayTypeOf === 'module'"  class="row scroll">
    <mat-card  *ngFor="let item of publicTrainings.cards" class="card-exo col-lg-3 col-md-6 col-12 col-sm-6">
      <mat-card-header>
        <mat-card-title class="title-card" style="overflow: hidden;">{{item.header.title}}</mat-card-title>
      </mat-card-header>
      <mat-slide-toggle checked="{{item.selected}}" (change)="selectExercices($event,item)" #{{item.header.id}} class="display-toggle">Activé</mat-slide-toggle>
      <span [ngClass]="audience === item.audience ? 'public' : 'private'" class="audience">Public</span>
      <div style="height: auto;
      overflow: hidden;"><img class="img-card" mat-card-image src="{{item.header.image}}" alt=""></div>
      <mat-card-content>
        <div style="width:99%;height: 160px;overflow: auto;margin-top: 5px;"><p class="invisible-scrollbar paragraphe">{{item.header.description}}</p></div>
      </mat-card-content>
      <mat-card-actions>
        <div mat-card-avatar class="header-image"></div>
        <p *ngIf="item.author === undefined" class="paragraph-card" >Drilllight</p>
        <button (click)="openDialog(item)" class="btn-card" mat-button><mat-icon> list_alt</mat-icon></button>
      </mat-card-actions>
    </mat-card>

  </div>
  <div *ngIf="displayTypeOf === 'list'">
    <mat-card class="card-list" *ngFor="let item of publicTrainings.cards">
      <div><img class="img-card-list" style="margin:2px;width:150px;" mat-card-image src="{{item.header.image}}" alt=""></div>
      <div class="display-title-list"><h5>{{item.header.title}}</h5></div>
      <div class="display-desc-list"><p style="width: 80%; overflow: hidden; height: 20px;">{{item.header.description}}</p></div>
      <mat-slide-toggle checked="{{item.selected}}" (change)="selectExercices($event,item)" #{{item.header.id}} style="position: absolute; right: 5px;top: 5px;" class="display-toggle">Activé</mat-slide-toggle>
      <button (click)="openDialog(item)" class="btn-card-list" mat-button><mat-icon> list_alt</mat-icon></button>
    </mat-card>
  </div>



  <!-- <button>Selection d'éxercices</button> -->
  <h4 *ngIf="privateTrainings.cards.length > 0" class="title">Exercices Privés</h4>
  <div *ngIf="displayTypeOf === 'module'"  class="row scroll">
    <mat-card  *ngFor="let item of privateTrainings.cards" class="card-exo col-lg-3 col-md-6 col-12 col-sm-6">
      <mat-card-header>
     
        <mat-card-title class="title-card" style="overflow: hidden;">{{item.header.title}}</mat-card-title>
      </mat-card-header>
      <mat-slide-toggle checked="{{item.selected}}" (change)="selectExercices($event,item)" #{{item.header.id}} class="display-toggle">Activé</mat-slide-toggle>
      <span [ngClass]="audience === item.audience ? 'public' : 'private'" class="audience">Privé</span>
      <div style="height: auto;
      overflow: hidden;"><img class="img-card" mat-card-image src="{{item.header.image}}" alt=""></div>
      <mat-card-content style="min-height: 160px;max-height: 160px;">
        <div style="height: 160px;overflow: auto;margin-top: 5px;"><p class="invisible-scrollbar paragraphe">{{item.header.description}}</p></div>
       
      </mat-card-content>
      <mat-card-actions>
        <div mat-card-avatar class="header-image"></div>
        <p *ngIf="item.author === undefined" class="paragraph-card" >Drilllight</p>
        <button (click)="openDialog(item)" class="btn-card" mat-button><mat-icon> list_alt</mat-icon></button>
      </mat-card-actions>
    </mat-card>

 
  </div>
  <div *ngIf="displayTypeOf === 'list'">
    <mat-card class="card-list" *ngFor="let item of privateTrainings.cards">
      <div><img class="img-card-list" style="margin:2px;width:150px;" mat-card-image src="{{item.header.image}}" alt=""></div>
      <div class="display-title-list"><h5>{{item.header.title}}</h5></div>
      <div class="display-desc-list"><p style="width: 80%; overflow: hidden; height: 20px;">{{item.header.description}}</p></div>
      <mat-slide-toggle (change)="selectExercices($event,item)" checked="{{item.selected}}" #{{item.header.id}} style="position: absolute; right: 5px; top: 5px;" class="display-toggle">Activé</mat-slide-toggle>
      <button (click)="openDialog(item)" class="btn-card-list" mat-button><mat-icon> list_alt</mat-icon></button>
    </mat-card>
  </div>
  <!-- "Pré-formation" -->
  <!-- <h4 *ngIf="categoryOneTrainings.cards.length > 0" class="title">Pré-formation</h4>
  <div  class="row scroll">
    <mat-card  *ngFor="let item of categoryOneTrainings.cards" class="card-exo col-lg-3 col-md-6 col-12 col-sm-6">
      <mat-card-header>
        <mat-card-title class="title-card">{{item.text}}</mat-card-title>
      </mat-card-header>
      <span [ngClass]="audience === item.audience ? 'public' : 'private'" class="audience">Public</span>
      <img class="img-card" mat-card-image src="{{item.image}}" alt="">
      <mat-card-content>
        <p class="invisible-scrollbar paragraphe">{{item.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <div mat-card-avatar class="header-image"></div>
        <p *ngIf="item.author === undefined" class="paragraph-card" >Drilllight</p>
        <button (click)="openDialog(item)" class="btn-card" mat-button><mat-icon> list_alt</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </div> -->

  <!-- "Formation" -->
  <!-- <h4 *ngIf="categoryTwoTrainings.cards.length > 0" class="title">Formation</h4>
  <div  class="row">
    <mat-card  *ngFor="let item of categoryTwoTrainings.cards" class="card-exo col-lg-3 col-md-6 col-12 col-sm-6">
      <mat-card-header>
        <mat-card-title class="title-card">{{item.text}}</mat-card-title>
      </mat-card-header>
      <span [ngClass]="audience === item.audience ? 'public' : 'private'" class="audience">Public</span>
      <img class="img-card" mat-card-image src="{{item.image}}" alt="">
      <mat-card-content>
        <p class="invisible-scrollbar paragraphe">{{item.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <div mat-card-avatar class="header-image"></div>
        <button (click)="openDialog(item)" class="btn-card" mat-button><img class="im-card-btn" src="../../assets/icons/dots-vertical.png"></button>
      </mat-card-actions>
    </mat-card>
  </div> -->
  <!-- <h4 *ngIf="categoryTreeTrainings.cards.length > 0" class="title">Séniors</h4>
  <div  class="row">
    <mat-card  *ngFor="let item of categoryTreeTrainings.cards" class="card-exo col-lg-3 col-md-6 col-12 col-sm-6">
      <mat-card-header>
        <mat-card-title class="title-card">{{item.text}}</mat-card-title>
      </mat-card-header>
      <span [ngClass]="audience === item.audience ? 'public' : 'private'" class="audience">Public</span>
      <img class="img-card" mat-card-image src="{{item.image}}" alt="">
      <mat-card-content>
        <p class="invisible-scrollbar paragraphe">{{item.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <div mat-card-avatar class="header-image"></div>
        <button (click)="openDialog(item)" class="btn-card" mat-button><img class="im-card-btn" src="../../assets/icons/dots-vertical.png"></button>
      </mat-card-actions>
    </mat-card>
  </div> -->
  </div>
  <div *ngIf="chooseType === 'Sessions'">
    <h4 *ngIf="publicSessions.cards.length > 0" class="title">Sessions publiques</h4>
  <div  class="row scroll">
    <mat-card  *ngFor="let item of publicSessions.cards" class="card-exo col-lg-3 col-md-6 col-12 col-sm-6">
      <mat-card-header>
        <mat-card-title class="title-card" style="overflow: hidden;">{{item.header.title}}</mat-card-title>
      </mat-card-header>
      <span [ngClass]="audience === item.audience ? 'public' : 'private'" class="audience">Public</span>
      <div style="height: 180px;
      overflow: hidden;"><img class="img-card" mat-card-image src="{{item.header.image}}" alt=""></div>
      <mat-card-content>
        <p class="invisible-scrollbar paragraphe">{{item.header.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <div mat-card-avatar class="header-image"></div>
        <p *ngIf="item.author === undefined" class="paragraph-card" >Drilllight</p>
        <button (click)="openDialog(item)" class="btn-card" mat-button><mat-icon> list_alt</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </div>
  <h4 *ngIf="privateSessions.cards.length > 0" class="title">Sessions privées</h4>
  <div  class="row scroll">
    <mat-card  *ngFor="let item of privateSessions.cards" class="card-exo col-lg-3 col-md-6 col-12 col-sm-6">
      <mat-card-header>
        <mat-card-title class="title-card" style="overflow: hidden;">{{item.header.title}}</mat-card-title>
      </mat-card-header>
      <span [ngClass]="audience === item.audience ? 'public' : 'private'" class="audience">Privées</span>
      <div style="height: 180px;
      overflow: hidden;"><img class="img-card" mat-card-image src="{{item.header.image}}" alt=""></div>
      <mat-card-content>
        <p class="invisible-scrollbar paragraphe">{{item.header.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <div mat-card-avatar class="header-image"></div>
        <p *ngIf="item.author === undefined" class="paragraph-card" >Drilllight</p>
        <button (click)="openDialog(item)" class="btn-card" mat-button><mat-icon> list_alt</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </div>
  </div>
</div>
